<!DOCTYPE html>
<html>
<head>
    <title>Erreur 404</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Erreur 404</h1>
    <p>La page que vous avez demandée n'existe pas.</p>
    <p><a href="/">Retour à l'accueil</a></p>
</body>
</html>
