{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <form action="/modify_service" method="post">
            <p> Créer un nouvel service 
                <input type="text" name="add_service_name" placeholder="Nom du service" />
                <input type="submit" name="add_service" value="Créer" />
            </p>
            <p> Supprimer un service 
                <select name="delete_service">
                    {% for service in services %}
                        <option value="{{ service.id }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="delete" value="Supprimer" />
            </p>
            <p> Modifier un service 
                <select name="modify_service">
                    {% for service in services %}
                        <option value="{{ service.id }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="modify_service_name" placeholder="Nouveau nom du service" />
                <input type="submit" name="modify" value="Modifier" />
            </p>
        </form>
    </body>
{% endblock %}