{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <form action="/modify_equipment" method="post">
            <p> Créer un nouvel équipement 
                <input type="text" name="add_equipment_name" placeholder="Nom de l'équipement" />
                <input type="submit" class="submit_button" name="add_equipment" value="Créer" />
            </p>
            <p> Supprimer un équipement 
                <select name="delete_equipment">
                    {% for equipment in equipments %}
                        <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="delete" name="delete" value="Supprimer" />
            </p>
            <p> Modifier un équipement 
                <select name="modify_equipment">
                    {% for equipment in equipments %}
                        <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="modify_equipment_name" placeholder="Nouveau nom de l'équipement" />
                <input type="submit" class="submit_button" name="modify" value="Modifier" />
            </p>
        </form>
    </body>
{% endblock %}