{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <input type="chercher" placeholder="Chercher un logement">
        <li><a href="/create_renting">Mettre une location</a></li>
        <li><a href="/modify_renting">Modifier une location</a></li>
        <li><a href="/modify_equipment">Modifier un équipement</a></li>
        <li><a href="/modify_service">Modifier un service</a></li>
        <li><a href="/create_user">Créer un utilisateur</a></li>
        <li><a href="/modify_user">Modifier un utilisateur</a></li>
        <li><a href="/modify_type">Modifier un type</a></li>
        <li><a href="/modify_review">Modifier un avis</a></li>
    </body>
{% endblock %}