{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <form action="/adminLogement" method="post" class="form_logement">
            <input type="text" name="adresse" placeholder="Adresse" required>
            <input type="text" name="nom" placeholder="Nom" required>
            <input type="text" name="prix" placeholder="Prix" required>
            <input type="text" name="type" placeholder="Type" required>
            <input type="text" name="description" placeholder="Description" required>
            <div class="services">
                {% for service in services %}
                    <input type="checkbox" name="service[]" value="{{ service.id }}">{{ service.nom }}</input>
                {% endfor %}
            </div>     
            <div class="equipements">
                {% for equipement in equipements %}
                    <input type="checkbox" name="equipement[]" value="{{ equipement.id }}">{{ equipement.nom }}</input>
                {% endfor %}
            </div>
            <input type="submit" value="Envoyer" />
        </form>
    </body>
{% endblock %}