{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <li><a href="/admin_create_logement">Mettre une location</a></li>
        <li><a href="/admin_modify_logement">Modifier une location</a></li>
    </body>
{% endblock %}