{% block css %}<link rel="stylesheet" href="public/css/login.css">{% endblock %}

{% block body %}
    <body>
        <h1>Se Connecter</h1>
        <form action="/loginfinish" method="post">
            <label for="email">Email : </label> 
            <input type="email" name="email" placeholder="Adresse email" required /><br /><br />
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" placeholder="Mot de passe" required /> <br /><br />
            <input type="submit" value="S'inscrire" />
        </form>
        <h4>Pas encore inscrit ? <a href="/signup">Inscrivez-vous</a></h4>
    </body>
{% endblock %}