{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% block body %}
    <body>
        <ul>
            <p> Nom : {{ users.lastname }}</p>
            <p> Prénom : {{ users.firstname }}</p>
            <p> Mail : {{ users.email }}</p>
            <p> Téléphone : {{ users.phone }}</p>
        </ul>       
    </body>
{% endblock %}

