<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    {% block css %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        <li><a href="/">Troc Mon Toit</a></li>
        <nav>
            <ul>
                <li><a href="/{{link}}">{{user_connected}}</a></li>
                <li><a href="/{{link2}}">{{user_deconnected}}</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>
