<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    {% block css %}{% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="/login">Se connecter</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>