body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #48cc41;
}

header h1 {
    margin: 2rem;
}

header ul {
    display: flex;
    margin: 2rem;
}

header li {
    margin-left: 4rem;
}

header li a {
    color: #000000;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007bff;
}

.renting {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #000000;
}