body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007bff;
}

.renting {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #000000;
}