body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 30em;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #48cc41;
}

header h1 {
    margin: 2rem;
}

header ul {
    display: flex;
    margin: 2rem;
}

header li {
    margin-left: 4rem;
}

header li a {
    color: #000000;
}

.form_create_logement {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 40rem;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.submit_create_logement, .checkbox_create_logement, .text_create_logement {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.checkbox_create_logement, .submit_create_logement {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.submit_create_logement:hover {
    background-color: #007bff;
}

.renting {
    margin: 20px 0;
    padding-left: 3em;
    padding-top: 1em;
}

.rentings {
    margin: 0 auto;
    border-top: 1px solid #ccc;
    width: 80rem;
    padding: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.title:hover {
    text-decoration: none;
}

.services, .equipments {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    border: 1px solid #000000;
}

.types, .service, .equipment {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
}